@import "tailwindcss";

@theme {
    --color-primary: #1e1e2f;
    --color-accent: #ffb400;
    --color-clear: #e5e5e5;
    --color-panel: #2e2e3e;
    --color-neutral: #9e9e9e;

    --font-display: "Montserrat", "Open Sans", sans-serif;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #ffb400; /* accent */
  border-radius: 9999px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #1e1e2f; /* primary */
}